# Creating a function using Lambda Expression

In [1]:
def traditional_func(param):
    result = param * 2
    return result

print(traditional_func(10))

20

In [2]:
double_num = lambda x: 2*x

In [3]:
double_num(10)

20

In [4]:
get_square = lambda x: x * x

In [5]:
get_square(10)

100

### Specifying multiple parameters in lambda expression

In [6]:
add_nums = lambda x, y: x + y

In [7]:
add_nums(10, 5)

15

#### (x + y ) <sup>2</sup>  = x<sup>2</sup> + y<sup>2</sup> + 2xy

In [8]:
sum_square = lambda x, y: x**2 + y**2 + 2*x*y

In [9]:
sum_square(5, 4)
# 5x5 + 4x4 + 2x5x4
# 25 + 16 + 40
# 41 + 40
# 81

81

## Combining lambda with map

### Map applies a function/lambda expression over elements of an iterable

In [11]:
my_list = list(range(10))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Syntax : map(function/lambda expression, iterable)

In [16]:
my_sqr_list = list(map(get_square, my_list))

In [17]:
my_sqr_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
my_str_list = ["hello", "world", "bye","yolo"]

In [19]:
my_modified_str = list(map(lambda x: x + "!", my_str_list))

In [20]:
my_modified_str

['hello!', 'world!', 'bye!', 'yolo!']

## Combining lambda with filter

In [21]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
my_odd_list = list(filter(lambda x: x%2!=0, my_list))
print(my_odd_list)

[1, 3, 5, 7, 9]

In [23]:
my_str_list

['hello', 'world', 'bye', 'yolo']

In [24]:
my_filtered_list = list(filter(lambda x: len(x)%2==0, my_str_list))

In [25]:
my_filtered_list

['yolo']

In [26]:
my_odd_filtered_list = list(filter(lambda x: len(x)%2==1, my_str_list))

In [27]:
my_odd_filtered_list

['hello', 'world', 'bye']

# Using external Variables

In [28]:
some_var = 100

In [29]:
external_lambda_func = lambda x, y=some_var: x + y

In [31]:
external_lambda_func(20)
# x=20, y=some_var, i.e. 100
# 100 + 20 = 120

120

In [32]:
external_lambda_func(5)

105

## Using Lambda with sort

In [45]:
my_dict_list = [{'name': "Billy", "age": 21, "salary": 1000},
               {'name': "Angela", "age": 20, "salary": 1000},
               {'name': "Kelly", "age": 19, "salary": 1000},
               {'name': "Belly", "age": 19, "salary": 1000},
               {'name': "Bob", "age": 15, "salary": 500},
               {'name': "Michael", "age": 35, "salary": 5000}]

In [46]:
sorted(my_dict_list, key=lambda x: x["age"])

[{'name': 'Bob', 'age': 15, 'salary': 500},
 {'name': 'Kelly', 'age': 19, 'salary': 1000},
 {'name': 'Belly', 'age': 19, 'salary': 1000},
 {'name': 'Angela', 'age': 20, 'salary': 1000},
 {'name': 'Billy', 'age': 21, 'salary': 1000},
 {'name': 'Michael', 'age': 35, 'salary': 5000}]

In [47]:
sorted(my_dict_list, key=lambda x: x["name"])

[{'name': 'Angela', 'age': 20, 'salary': 1000},
 {'name': 'Belly', 'age': 19, 'salary': 1000},
 {'name': 'Billy', 'age': 21, 'salary': 1000},
 {'name': 'Bob', 'age': 15, 'salary': 500},
 {'name': 'Kelly', 'age': 19, 'salary': 1000},
 {'name': 'Michael', 'age': 35, 'salary': 5000}]

In [48]:
sorted(my_dict_list, key=lambda x: len(x["name"]))

[{'name': 'Bob', 'age': 15, 'salary': 500},
 {'name': 'Billy', 'age': 21, 'salary': 1000},
 {'name': 'Kelly', 'age': 19, 'salary': 1000},
 {'name': 'Belly', 'age': 19, 'salary': 1000},
 {'name': 'Angela', 'age': 20, 'salary': 1000},
 {'name': 'Michael', 'age': 35, 'salary': 5000}]

### Specifying multiple keys for sorting

In [49]:
sorted(my_dict_list, key=lambda x: (x["salary"], x["age"]))

[{'name': 'Bob', 'age': 15, 'salary': 500},
 {'name': 'Kelly', 'age': 19, 'salary': 1000},
 {'name': 'Belly', 'age': 19, 'salary': 1000},
 {'name': 'Angela', 'age': 20, 'salary': 1000},
 {'name': 'Billy', 'age': 21, 'salary': 1000},
 {'name': 'Michael', 'age': 35, 'salary': 5000}]

In [50]:
sorted(my_dict_list, key=lambda x: (x["salary"], x["age"], x["name"]))

[{'name': 'Bob', 'age': 15, 'salary': 500},
 {'name': 'Belly', 'age': 19, 'salary': 1000},
 {'name': 'Kelly', 'age': 19, 'salary': 1000},
 {'name': 'Angela', 'age': 20, 'salary': 1000},
 {'name': 'Billy', 'age': 21, 'salary': 1000},
 {'name': 'Michael', 'age': 35, 'salary': 5000}]

# Nesting Lambda expressions

In [51]:
create_multiplier = lambda num1: (lambda num2: num1 * num2)

In [52]:
multiply_5 = create_multiplier(5)
multiply_5(3)

15

In [53]:
multiply_5(9)

45

In [54]:
multiply_5(10)

50